web_app/flask_app/__pycache__/
web_app/flask_app/*.tmp
web_app/flask_app/uwsgi.log
web_app/flask_app/files/

web_app/db/data/
web_app/db/logs/

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.log
*.backup
